<div style="display:flex; flex-direction: row; align-items: center; justify-content: center; font-size: 2em; margin-bottom: 1%; margin-top: 1%">Time Tracking Actions</div>
<div style="display:flex; flex-direction: row; align-items: center; justify-content: center; font-size: 2em; margin-bottom: 5%; margin-top: 1%">
<button (click)="createWorkShift()" type="button" class="btn btn-outline-success">Start Shift</button>
<button type="button" (click)="updateWorkShift('EndShift', activeShifts[0].id)" class="btn btn-outline-danger">End Shift</button>
<button type="button" (click)="updateWorkShift('StartLunch', activeShifts[0].id)" class="btn btn-outline-info">Start Lunch Break</button>
<button type="button" (click)="updateWorkShift('EndLunch', activeShifts[0].id)" class="btn btn-outline-info">End Lunch Break</button>
<button type="button" (click)="updateWorkShift('StartBreak', activeShifts[0].id)" class="btn btn-outline-warning">Start Break</button>
<button type="button" (click)="updateWorkShift('EndBreak', activeShifts[0].id)" class="btn btn-outline-warning">End Break</button>
</div>
<div *ngIf="activeShifts.length != 0" style="display:flex; flex-direction: row; align-items: center; justify-content: center; font-size: 2em; margin-bottom: 2%; margin-top: 2%"><strong>Active Work Shifts</strong></div>

    <table *ngIf='activeShifts.length != 0' class="table">
        <thead>
          <tr class="table-active">
            <th scope="col">ShiftId</th>
            <th scope="col">UserId</th>
            <th scope="col">ShiftStartTime</th>
            <th scope="col">ShiftEndTime</th>
            <th scope="col">LunchStartTime</th>
            <th scope="col">LunchEndTime</th>
            <th scope="col">BreakStartTime</th>
            <th scope="col">BreakEndTime</th>
            <th scope="col">TotalHours</th>
            <th scope="col">IsActive</th>
    
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let shift of activeShifts" class="table-info">
            <td>{{shift.id}}</td>
            <td>{{shift.userId}}</td>
            <td>{{shift.startTime | date: 'medium'}}</td>
            <td>{{shift.endTime | date: 'medium'}}</td>
            <td>{{shift.lunchStartTime | date: 'medium'}}</td>
            <td>{{shift.lunchEndTime | date: 'medium'}}</td>
            <td>{{shift.breakStartTime | date: 'medium'}}</td>
            <td>{{shift.breakEndTime | date: 'medium'}}</td>
            <td>{{shift.totalHours | number: '0.2-2'}}</td>
            <td>{{shift.isActive}}</td>
            </tr>

        </tbody>
      </table>

      <div *ngIf="previousShifts.length > 0" style="display:flex; flex-direction: row; align-items: center; justify-content: center; font-size: 2em; margin-bottom: 2%; margin-top: 8%"><strong>Work Shift History</strong></div>
      <table class="table" *ngIf="previousShifts.length > 0">
        <thead>
          <tr class="table-active">
            <th scope="col">ShiftId</th>
            <th scope="col">UserId</th>
            <th scope="col">ShiftStartTime</th>
            <th scope="col">ShiftEndTime</th>
            <th scope="col">LunchStartTime</th>
            <th scope="col">LunchEndTime</th>
            <th scope="col">BreakStartTime</th>
            <th scope="col">BreakEndTime</th>
            <th scope="col">TotalHours</th>
            <th scope="col">IsActive</th>
    
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let shift of previousShifts" class="table-info">
            <td>{{shift.id}}</td>
            <td>{{shift.userId}}</td>
            <td>{{shift.startTime | date: 'medium'}}</td>
            <td>{{shift.endTime | date: 'medium'}}</td>
            <td>{{shift.lunchStartTime | date: 'medium'}}</td>
            <td>{{shift.lunchEndTime | date: 'medium'}}</td>
            <td>{{shift.breakStartTime | date: 'medium'}}</td>
            <td>{{shift.breakEndTime | date: 'medium'}}</td>
            <td>{{shift.totalHours | number: '0.2-2'}}</td>
            <td>{{shift.isActive}}</td>
            </tr>
        </tbody>
      </table>
  